@{
    ViewBag.Title = "Home Page";
}


    <header class="masthead" style="background-image: url('../assets/img/header-bg.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span>Aqui podras realizar el pago de tus cuotas </span></div>
                <div class="intro-heading text-uppercase"><span>Bienvenido a nuestro sitio Web !</span></div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="/home/IngresoLegajo">PAGAR</a>
            </div>
        </div>
    </header>
