
@{
    ViewBag.Title = "Pagar";
}



<h2>Pagar</h2>

<script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
        data-preference-id="@Html.DisplayFor(model => model.id)">
</script>